p {
    text-align:center;
    font-family: Arial;
}
nav{
    background: rgb(21, 72, 191);
}
.navbar-brand{
    margin-right: 50vh;
}
.signupsuccess{
    color:green;
}
.signuperror{
    color:red;
}